$background-color: rgb(95, 95, 95);
$font-active-color:  rgb(255, 231, 195);
$font-shadow: rgb(223, 205, 43);
$font-color:  rgb(241, 241, 241);
$input-color: rgba(223, 223, 223, 0.226);
$primary-color: #995a11;
$secondary-color: #efe338;
$disable-color: #9b9b9b;