@import './_colors.scss';

@mixin glow($color) {
  text-shadow: 0 0 10px $font-shadow,0 0 30px $font-shadow, 0 0 80px $font-shadow;
  color: $color;
}

@mixin glass() {
  background-color: rgba(43, 43, 43, 0.66);
  
  @supports ((-webkit-backdrop-filter: blur()) or (backdrop-filter: blur())) {
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
  }

}

@mixin mainContent() {
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
  align-items: center;
  width: 80%;
  padding: 20px;
}

@mixin center() {
  display: flex;
  justify-content: center;
  align-items: center;
}