@mixin wide() {
  grid-column-start: 1; 
  grid-column-end: 4;
}

.container {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  width: 80%;
  height: inherit;
  padding: 20px;
}

.menu {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 20% 60% 20%;
  margin: 20px 0;
  flex: 1 1 auto;
}

.addWordButton {
  @include wide();
}

.gameOneButton {
  @include wide();
}

.showDictionaryButton {
  @include wide(); 
}