@import '../../../../styles/_mixins.scss';
@import '../../../../styles/_colors.scss';

.searchImage {
    transition: all .25s;
    width: 100%;

    &:hover {
        cursor: pointer;
        transform: scale(1.05);
    }
}

.pickedImage {
    z-index: 1;
    position: relative;
    margin-bottom: -5px;
    box-shadow: 0px 0px 78px 9px rgb(255, 225, 0);
}

.pickButton {
    position: absolute;
    bottom: 0;
    left: 0;
}
