@import '../../styles/colors';
@import '../../styles/mixins';

.btn {
  @include glass;
  margin-top: 15px;
  width: 100%;
  height: 40px;
  color: $font-color;
  border: none;

  &:hover {
    cursor: pointer;
    @include glow($font-color, $font-shadow);
  }

  &:disabled {
    cursor: default;
    @include glow($font-color, $disable-color);
    color: $disable-color;
  }

  &:active {
    box-shadow: 0 0 3px $font-shadow, 0 0 6px $font-shadow, 0 0 9px whitesmoke;
  }
  
  &:focus {
    outline: none;
  }
}



