@import '../../assets/styles/_colors.pcss';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: $background-color;
  font-family: 'Alegreya Sans SC', sans-serif;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
}