@import '../../assets/styles/_colors.scss';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: $background-color;
  background-image: url('https://image.freepik.com/free-vector/geometry-wallpaper-or-background-vector-illustration-eps10_24911-20612.jpg');
  font-family: 'Alegreya Sans SC', sans-serif;
}

.wrapper {
  max-width: 1200px;
  min-width: 480px;
  margin: 0 auto;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
}