@import '../../assets/styles/colors';
@import '../../assets/styles/mixins';

.wrapper {  
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
  align-items: center;
  width: 80%;
  padding: 20px;
}

.errorText {
  font-size: x-large
}

.errorWindow {
  @include glass;
  color: $font-color;
  height: 200px;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}