@import '../../styles/colors';
@import '../../styles/mixins';

.wrapper {
  @include mainContent;
}

.errorText {
  font-size: x-large
}

.errorWindow {
  @include glass;
  color: $font-color;
  height: 200px;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}