@import '../../styles/colors';
@import '../../styles/_mixins.scss';

.container {
  @include glass;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 25px;
  width: 100%;
  color: $font-color;
}