@import '../../assets/styles/colors';
@import '../../assets/styles/mixins';

.wrapper {  
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  padding: 20px;
}

.wrapperForm {
  @include glass();
  width: 100%;
  min-width: 800px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr;
  gap: 20px;
  padding: 20px;
}

.inpForm {
  grid-column-start: 1; 
  grid-column-end: 3; 
}

.wrapperPickImage {
  margin-top: 20px;
  background-color: azure;
}
