@import '../../../../styles/colors';
@import '../../../../styles/mixins';

.wrapper {
  padding: 0 5px;
}

.profile {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  @include glass;
  color: $font-color;
}

.username {
  text-align: center;
}

.wrapperAvatar {
  width: 15%;
}

.list {
  display: flex;
  gap: 10px;
  padding: 0;
}

.element {
  list-style-type: none;
}