@import '../../assets/styles/_colors.scss';
@import '../../assets/styles/_mixins.scss';

.container {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include glass;
  min-height: 50px;
  width: 100%;
  padding: 0 6%;
}

.logo {
  height: 40px;
  width: 40px;
}

.logoImage {
  width: inherit;
  width: inherit;
}

.navigation {
  padding: 0;
}

.list {
  display: flex;
}

.elem {
  margin: 0 10px;
  list-style-type: none;
}
